.btn-group-margin{
 margin: 5px;
}
.btn-division{
 border: solid 2px black ;
 width: 100px;
}
.btn-division:hover{
 border: solid 2px black ;
}

a{
 cursor: pointer;
 color: black;
 text-decoration: none;
}

a:hover{
 color: black;
}

.scroll-body{
    overflow-y: scroll;
}